{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3>Editar Cadeira</h3>
    <form action="{% url 'portfolio:cadeira_edita' cadeira_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'portfolio:sobremim' %}" role="button" class="btn btn-warning">Cancelar</a>
        <input type="submit" value="Gravar" class="btn btn-success" >
        <a href="{% url 'portfolio:cadeira_apaga' cadeira_id %}" role="button" class="btn btn-danger">Apagar</a>
    </form>
{% endblock %}