{% extends 'portfolio/layout.html' %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/hero.css' %}">
{% endblock %}

{% block main %}
  <section>
    
    <div class="home">
      <p>Bem-Vindos</p>
      <p>Chamo-me Rodrigo Simões</p>
      <p>Aluno de Engenharia Informática</p>
      <button class="botao1"><a href="#sobremim">Saiba mais</a></button>
      <button class="botao2"><a href="{% static 'portfolio/images/cv.pdf' %}" download="" target="_blank">Download CV</a></button>
    </div>
    <div>
      {% load static %}
      <img src="{% static 'portfolio/images/rodrigo.png' %}" class="foto"> 
    </div>
  </section>

  {% load static %}
  <img src="{% static 'portfolio/images/computador.jpeg' %}" class="computador">
  
  <article class ="sobremim" id="sobremim">
    <h3>Mais Sobre Mim:</h3>
      Escolhi o curso de Engenharia Informática porque sempre gostei de computadores e de jogar 
      com os meus amigos o que me despertou interesse na área.<br>
      De um modo geral tenho gostado de aprender todas as cadeiras pois são todas muito práticas o que nos traz alguns desafios.<br>
      Quando acabar a Lincenciatura quero ingressar num Mestrado para aprofundar ainda mais as minhas capacidades e competências e se possível começar a trabalhar na área.<br>
      Nos meus tempos livres sou treinador de Guarda Redes de futebol.
  </article>

  <h2>IPMA API:</h2>
  <div class="container">
    <div>
      <h4>Temperatura de Hoje em Lisboa:</h4><br>
      <p id="tempMin">Temperatura Min: </p>
      <p id="tempMax">Temperatura Max: </p>
      <p id="precipitacao">Precipitacão: </p>
    </div>

    <div>
      <h4>Temperatura de Amanhã em Lisboa:</h4><br>
      <p id="tempMinAmanha">Temperatura Min: </p>
      <p id="tempMaxAmanha">Temperatura Max: </p>
      <p id="precipitacaoAmanha">Precipitacão: </p>
    </div>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
      fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')// envia GET request ao URL
      .then(response => response.json()) // Põe a resposta no formato json
      .then(data =>{

        /* Temperatura Hoje */
        let tempMin = data.data[0].tMin
        document.querySelector('#tempMin').append(tempMin);
        let tempMax = data.data[0].tMax
        document.querySelector('#tempMax').append(tempMax);
        let preci = data.data[0].precipitaProb
        document.querySelector('#precipitacao').append(preci);

        /* Temperatura de Amanhã */
        let tempMinAmanha = data.data[1].tMin
        document.querySelector('#tempMinAmanha').append(tempMinAmanha);
        let tempMaxAmanha = data.data[1].tMax
        document.querySelector('#tempMaxAmanha').append(tempMaxAmanha);
        let preciAmanha = data.data[1].precipitaProb
        document.querySelector('#precipitacaoAmanha').append(preciAmanha);

      } ); // põe os dados na consola
    });
  </script>


  <h2>Euromilhões API:</h2>
  <div class="cash">
    <div>
      <button onclick="get_numbers()">💲 Carregue para saber os número de hoje 💲</button>
      <p id="numeros"></p>
      <p id="estrelas"></p>
    </div>
  </div>

  <script>
      function get_numbers(){
      const options = {
        method: 'GET',
        headers: {
            'X-RapidAPI-Key': 'b8bb4632femsh76020d4b345a836p136f4djsn5101f2c7f3ae',
            'X-RapidAPI-Host': 'euro-millions.p.rapidapi.com'
        }
      };

      fetch('https://euro-millions.p.rapidapi.com/results/lastresult', options)
      .then(response => response.json())
      .then(data =>
          {
          document.getElementById('numeros').innerHTML = "Números: "+ String(data.numbers[0]) + ", " + String(+data.numbers[1]) 
          + ", " + String(data.numbers[2]) + ", " + String(+data.numbers[3]) + ", " + String(+data.numbers[4]);
          document.getElementById('estrelas').innerHTML = "Estrelas: "+ String(data.stars[0]) + ", " + String(data.numbers[1]);
        });
  } 
  </script>
{% endblock %}
