{% extends 'portfolio/layout.html' %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/hero.css' %}">
{% endblock %}

{% block main %}
  <section>
    
    <div class="home">
      <p>Bem-Vindos</p>
      <p>Chamo-me Rodrigo Simões</p>
      <p>Aluno de Engenharia Informática</p>
      <button class="botao1"><a href="#sobremim">Saiba mais</a></button>
      <button class="botao2"><a href="{% static 'portfolio/images/cv.pdf' %}" download="" target="_blank">Download CV</a></button>
    </div>
    <div>
      {% load static %}
      <img src="{% static 'portfolio/images/rodrigo.png' %}" class="foto"> 
    </div>
  </section>

  {% load static %}
  <img src="{% static 'portfolio/images/computador.jpeg' %}" class="computador">
  
  <h2>IPMA API:</h2>
  <div class="container">
    <div>
      <h4>Temperatura de Hoje em Lisboa:</h4>
      <p id="tempMin">Temperatura Min: </p>
      <p id="tempMax">Temperatura Max: </p>
      <p id="precipitacao">Precipitacão: </p>
    </div>
  </div>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
      fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')// envia GET request ao URL
      .then(response => response.json()) // Põe a resposta no formato json
      .then(data =>{
        let tempMin = data.data[0].tMin
        document.querySelector('#tempMin').append(tempMin);
        let tempMax = data.data[0].tMax
        document.querySelector('#tempMax').append(tempMax);
        let preci = data.data[0].precipitaProb
        document.querySelector('#precipitacao').append(preci);

      } ); // põe os dados na consola
    });
  </script>


  <article class ="sobremim" id="sobremim">
    <h3>Mais Sobre Mim:</h3>
      Escolhi o curso de Engenharia Informática porque sempre gostei de computadores e de jogar 
      com os meus amigos o que me despertou interesse na área.<br>
      De um modo geral tenho gostado de aprender todas as cadeiras pois são todas muito práticas o que nos traz alguns desafios.<br>
      Quando acabar a Lincenciatura quero ingressar num Mestrado para aprofundar ainda mais as minhas capacidades e competências e se possível começar a trabalhar na área.<br>
      Nos meus tempos livres sou treinador de Guarda Redes de futebol.
  </article>

{% endblock %}
