{% extends 'portfolio/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">
{% endblock %}

{% block main %}
	<h1>Projetos</h1>
    <h3>Realizados por mim</h3>
        <div class="container">
            {% for projeto in projetos %}
            <div>
                <h3>{{projeto.titulo}}</h3><br>
                <img src="{{projeto.imagem.url}}"><br>
                <p>{{projeto.descricao}}</p><br>
                <ul>
                    <li><b>Ano Realização: </b>{{projeto.anoRealizacao}}</li>
                    <li><b>Participantes: </b>{% for participante in projeto.participantes.all %}{{participante.nome}}; {% endfor %}</li>
                    <li><b>Tecnologias: </b>{% for tecnologia in projeto.tecnologias.all %}{{tecnologia.nome}} {% endfor %}</li>
                    {% if projeto.linkGitHub is not None %}
                        <a href ="{{projeto.linkGitHub |default_if_none:'#'}}">Link GitHub</a>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
    
    <h3>Trabalhos Finais de Curso interessantes </h3>
    <div class="container">
        {% for tfc in tfcs %}
        <div>
            <h3>{{tfc.titulo}}</h3><br>
            <img src="{{tfc.imagem.url}}"><br>
            <p>{{projeto.sumario}}</p><br>
            <ul>
                <li><b>Ano Realização: </b>{{tfc.anoRealizacao}}</li>
                <li><b>Autores: </b>{% for autor in tfc.autor.all %}{{autor.nome}}; {% endfor %}</li>
                <li><b>Orientador: </b>{% for orientador in tfc.orientador.all %}{{orientador.nome}}; {% endfor %}</li>
                {% if tfc.link_relatorio is not None %}
                    <a href ="{{tfc.link_relatorio |default_if_none:'#'}}">Link Relatório</a><br>
                {% endif %}
                {% if tfc.linkGitHub is not None %}
                    <a href ="{{tfc.linkGitHub |default_if_none:'#'}}">Link GitHub</a><br>
                {% endif %}
                {% if tfc.linkYt is not None %}
                <a href ="{{tfc.linkYt |default_if_none:'#'}}">Link Vídeo</a><br>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}